http://localhost {  # change to domain for deployment
    root * /var/www/html/public
    php_fastcgi app:9000
    file_server
}

# For the Next.js App
https://mytasks.gerardegan.com {
    reverse_proxy nextjs_app:3000
}